:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
body{
    font-family: var(--font-family);
    font-weight: 400;
    margin: 0 auto;
    max-width: 1600px;
}

/* Шапка сайту */
.header{
  padding-left: 230px;
  padding-bottom: 19px;
  width: 1600px;
  height: 80px;
  border-bottom: 1px solid #757575;
}
.logo{
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}
.Web{
  color: #2196f3;
}
.Studio{
  color: #000000;
}
/* Навігаційний блок */
.nav{
  display: inline-flex;
 
  margin-left: 78px;
  padding-top: 32px;
}
.menu{
  display: flex;
  justify-content: center;
  column-gap: 50px;
}
.menu-link{
  font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #212121;
}
.menu-link:hover{
  color: #2196f3;
}
/* Контакти */
.header-contacts {
  justify-content: flex-end;
  display: inline-flex;
  margin-left: 344px;
  column-gap: 50px;
  padding-top: 32px;
}

.header-contact-link{
  font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #757575;
position: relative;
padding-left: 10px;

}
.icon-envelope{
  position: absolute;
  left: 0;
  top: auto;
}
.header-contact-link::before {
  fill: #2196f3;
   
}
.header-contact-link:hover{
  color: #2196F3;
}
  /* Секція замовити послугу */
  .order{
    width: 1600px;
    height: 600px;
   
  }
  .order-title{
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    display: flex;
   justify-content: space-evenly;
   padding-bottom: 30px;
   padding-top: 200px;
  }
  .order-button{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
  text-align: center;
  width: 216px;
  height: 50px;
  background-color: #2196F3;
  border-radius: 5px;
  border: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/* Переваги  */
.pros{
  padding-left: 215px;
  padding-right: 215px;
}
.pros-list{
  display: flex;
  column-gap: 30px;
}

.pros-list-item{
  padding-top: 94px;
  padding-bottom: 94px;
}
.pros-list-item::before{
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
}
.pros-list-item-title{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.pros-list-item-text{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}
/* Чим ми займаємось */
.images-title{
  padding-bottom: 49px;
  text-align: center;
}
.images-list {
  display: flex;
    justify-content: center;
    column-gap: 30px;
    padding-bottom: 158px;
}
/* Команда */
.workers{
  width: 1600px;
  height: 708px;
  background: #f5f4fa;
}
.workers-title{
  padding-bottom: 50px;
  padding-top: 94px;
  text-align: center;
}
.workers-lists{
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
.workers-list{
  background: #fff;
  border-radius: 0 0 4px 4px;
  width: 270px;
  height: 428px;
}
.workers-social-median{
border-radius: 50%;
width: 144px;
height: 144px;
fill: #AFB1B8;
}
.workers-social-median:hover{
  border-radius: 50%;
  background-color: #2196f3;
  width: 144px;
  height: 144px;
  }
.worker-img{
  width: 270px;
  height: auto;
  padding-bottom: 30px;
}
.worker-name{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.worker-text{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}
/* Портфоліо */
.gallery{
  display: flex;
  flex-wrap: wrap;
  padding: 0 215px;
  column-gap: 30px;
  row-gap: 30px;
  padding-bottom: 94px;
}

.gallery-filters{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  display: flex;
  justify-content: center;
  column-gap: 8px;
  padding-top: 94px;
  padding-bottom: 50px;
}
.gallery-item-title{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
}
.gallery-item-text{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}
.gallery-filter-button{
  border-radius: 4px;
  border: none;
  width: 125px;
  height: 38px;
  background: #f5f4fa;
}
.gallery-item{
  border: 1px solid #eee;
  width: 370px;
  height: 404px;
  
}
.gallery-items{
  padding-left: 24px;
}
/* Кінець сайту */
.footer{
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 217px;
  text-decoration: none;
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  
}
.web{
  color: #2196f3;
}
.f-studio{
  color: #fff;
}
.address{
  font-style: normal;
}
.address-text{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #fff;
  padding-top: 20px;
}
.footer-contact{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 9px;  
}
.footer-contact-link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact-link:hover{
  color: #2196f3;
}
.footer-social, .footer-subscribe {
  text-align: center;
}

.footer-social .social-icons a {
  margin: 0 10px;
}

.social-icons img {
  width: 20px; 
  height: 20px;
}

.footer-subscribe input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
}
